* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  background-color: gray;
}

.header-title {
  text-align: center;
  color: darkorange;
  background-color: black;
}

.rules-title {
  font-size: 32px;
}

.rules-content {
  text-align: center;
  max-width: 320px;
  margin: auto;
  background-color: darkorange;
  padding: 10px 60px;
  border-radius: 5px;
  border: 2px solid black;
}

.start-button {
  background-color: black;
  color: bisque;
  padding: 10px;
}

.hidden {
  display: none;
}